// Переменные для шрифтов

$primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Переменные для переходов и анимаций

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);