.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-share {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
  display: flex;
    justify-content: center;
    align-items: center;

  padding: 10px 0;
}

.copyright-link {
 text-decoration: none;
 color: inherit;
}