// Хедер
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  padding: 5px 0;
}

.logo {
  opacity: 1;

  transition: opacity $transition-duration $timing-function;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}