/* Список фильмов */
.movie-list {
  display: flex;
  flex-wrap: wrap;

  padding: 20px 0;
  margin: 0;

  margin-left: -15px;
  margin-top: -15px;

  list-style: none;
}

/* Элемент списка */
.movie-list-item {
  flex-basis: calc(100% / 1 - 15px);

  margin-left: 15px;
  margin-top: 15px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 15px);
  }

  @media screen and (min-width: 900px) and (max-width: 1199px) {
    flex-basis: calc(100% / 3 - 15px);
  }

  @media screen and (min-width: 1200px) and (max-width: 1919px) {
    flex-basis: calc(100% / 4 - 15px);
  }

  @media screen and (min-width: 1920px) {
    flex-basis: calc(100% / 5 - 15px);
  }
}

/* Карточка фильма */
.card {
  min-height: 100%;

  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  background-color: #ffffff;

  overflow: hidden;
}

// Ссылка на обложке
.card-thumb {
  height: 500px;

  opacity: 1;
  transition: opacity $transition-duration $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

// Обложка фильма
.card-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: top;
}

/* Текстовки карточки */
.card-content {
  padding: 15px;

  color: #395050;
}

/* Название фильма */
.card-title {
  margin-bottom: 10px;

  color: #395050;

  font-size: 1.3rem;
  text-align: center;
}

/* Оригинальное название фильма */
.card-original-title {
  margin-bottom: 10px;

  color: #505050;

  text-align: center;
}

/* Список с данными по фильму */
.card-list {
  padding: 0;
  margin: 0;

  margin-bottom: 10px;

  list-style: none;
}

.card-list-item:not(:last-child) {
  margin-bottom: 10px;
}

// Блок описания фильма
.card-details {
  margin-bottom: 10px;
  padding: 0.5rem;

  border: 1px solid #808080;
  border-radius: 1.2rem;
}

.card-details > .card-summary {
  list-style-type: none;

  outline: 1px solid transparent;

  cursor: pointer;

  user-select: none;
}

.card-details > .card-summary::-webkit-details-marker {
  display: none;
}

.card-details > .card-summary::before {
  content: '▶️';
  margin-right: 5px;
}

.card-details[open] > .card-summary::before {
  content: '🔽';
}

.card-details[open] > .card-summary {
  margin-bottom: 0.5rem;
}

.card-details[open] .card-summary ~ * {
  animation: sweep 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Кнопка трейлера
.card-btn {
  display: block;

  width: 60%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 1rem;

  color: #ffffff;
  background-color: #2681d0;

  text-align: center;
  text-decoration: none;

  opacity: 1;

  transition: opacity $transition-duration $timing-function;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

// Анимация для спойлера описания фильма
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
